[env]
exp_dir = ~/haowen/GitHub/AutoLossApps
model_dir = /datasets/BigLearning/haowen/AutoLossApps/saved_models
save_images_dir = /datasets/BigLearning/haowen/AutoLossApps/saved_images

[data]

[agent]
# gridworld map size
dim_s_h = 9
dim_s_w = 20
dim_s_c = 3
dim_a = 4
epsilon_start = 1.0
epsilon_end = 0.1
epsilon_decay_steps = 300

lr_agent = 0.001
total_episodes_agent = 300
total_episodes_test_agent = 20
total_steps_agent = 50
gamma_agent = 0.95
buffer_size_agent = 20000
batch_size_agent = 64
synchronize_frequency_agent = 100
valid_frequency_agent = 20
save_frequency_agent = 100

[emulator]
display_flag = False
#display_flag = True

[meta]
total_episodes_meta = 10000
distill_mode = CE
distill_temp = 1
buffer_size_meta = 1000
ema_decay = 0.8


